

<div class="container">
  <div class="row">
     <h1 class="heading">Energy Backed Securtitization using Blockchain</h1>
     <!-- <h2 class="heading">Welcome to home page</h2> -->

  </div>
  <div id="sun" style="top:62%; left:52%;">
    <div id="rings">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  	</div>
  <!-- <div id="face">
  		<div id="eye-1"></div>
  		<div id="eye-2"></div>
  		<div id="nose"></div>
  		<div id="mouth"></div>
  	</div> -->
  </div>
  <!-- <div id="world">
  	<div id="sun">
  		<div class="sunbeams">
  		  <div class="beam beam1"></div>
  		  <div class="beam beam2"></div>
  		  <div class="beam beam3"></div>
  		  <div class="beam beam4"></div>
  		  <div class="beam beam5"></div>
  		  <div class="beam beam6"></div>
  		  <div class="beam beam7"></div>
  		  <div class="beam beam8"></div>
  		</div>
  		<div class="eyes">
  			<div class="eyes-l"></div>
  			<div class="eyes-r"></div>
  		</div>
  	</div>

  </div> -->
<!--
  <div id="slidecontainer">
    <input type="range" min="0" max="24" value="1" class="slider" id="myRange">
    <p class="simtime">Simulated time: <span id="demo"></span>:12</p>
  </div> -->




  <div class="row">
    <br>
  </div>
  <div class="row">
    <br>
  </div>

</div>
